.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px 100px; */
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }

  .logged-in-as {
    display: flex;
    flex-direction: row-reverse;
  }